.App {
    font-family: sans-serif;
    text-align: center;
  }

.emoji-input {
    padding: 1em;
    min-width: 50%;
}  

.single-emoji {
    font-size: 2rem; 
    padding: 0.5rem; 
    cursor: pointer;
}